#PreviewPanel {
    height: 100%;

    .placeholder {
        color: #d3d3d3;
        font-size: 21px;
        margin: 10px;
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);
    }
}

#previewHeader {
    background-color: #eee;
    padding: 35px;
    color: #333;
    margin: 0;

    img {
        width: 64px;
        height: 64px;
    }

    .title {
        overflow: visible;
    }

    .path {
        font-size: 18px;
    }
}

ul.nested > li {
    margin-left: 15px;
}

.properties-panel {
    margin: 0;
    padding: 0 35px;
}

.show-wrapper {
    min-height: calc(100vh - 110px - 2em);
}