.preview-panel {
    height: 100%;
    overflow: auto;

    .placeholder {
        color: #d3d3d3;
        font-size: 21px;
        margin: 10px;
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);
    }

    .close-button {
        position: absolute;
        position: fixed;
        right: 0;
        padding: 4px;

        &::before {
            font-size: 1.5rem;

        }
    }

    .preview-header {
        display: grid;
        grid-template-columns: 64px auto;
        grid-template-rows: repeat(2, auto);
        padding: 0.5rem 3.5rem;

        .icon {
            grid-column: 1/1;
            grid-row: 1/3;
        }

        .title {
            grid-column: 2/3;
            grid-row: 1/1;
        }

        .timestamp {
            grid-column: 2/3;
            grid-row: 2/2;
        }
    }

    .log-data-container {
        padding: 0.5rem 3.5rem;
    }

    @media screen and (max-width: 700px) {
        .preview-header {
            padding: 0.5rem;

            .title {
                font-size: 20px;
            }
        }
        .log-data-container {
            padding: 0.5rem 1rem;
        }
    }
}
