#preview {
    font-size: 1rem;
    max-height: calc(100vh - 110px - 1em);
    overflow-y: auto;
    padding: 0;
    position: relative;

    .placeholder {
        color: #6d6d6d;
        font-size: 2rem;
        margin: 10px;
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);
    }
}

#previewHeader {
    background-color: #eee;
    padding: 35px;
    color: #333;
    margin: 0;
}

ul.nested > li {
    margin-left: 15px;
}

.properties-panel {
    margin: 0;
    padding: 0 35px;
}

.show-wrapper {
    min-height: calc(100vh - 110px - 2em);
}