#select-type-label {
    transform: scale(0.8);
}

#select-section {
    font-size: 1rem;
    padding: 0;
    border-right: 1px solid var(--dark-gray);

    .total {
        display: block;
        margin: 0;
        padding-left: 1.5rem;
    }

    .select-list {
        overflow-y: auto;
        height: calc(100vh - 210px);

        li .entry {
            background-color: white;
            border: none;
            cursor: pointer;
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 0.5rem;
            text-align: left;
            width: 100%;

            & > * {
                padding: 0 1rem;
            }

            time {
                display: inline-block;
                color: #777;
                font-size: 12px;
            }

            /* Did not think i would ever user this */
            div .user {
                padding: 0.5rem 0;
            }

            &:hover {
                background-color: var(--light-gray);
            }
            &:focus {
                background-color: #2196f3;
                * {
                    color: white;
                }
            }

            &.tombstone {
                * *:after {
                    content: "";
                    background-color: var(--gray);
                    border-radius: 5px;
                    display: block;
                    height: 1rem;
                    width: 50%;
                }
            }
        }
    }
}
