.selection-panel {
    .select-toolbar {
        background-color: #fafafa;
    }

    .selection-placeholder {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        padding: 0.5rem;
        font-size: 1.1rem;
        white-space: nowrap;
    }
}