:root {
    --entry-padding: 0.8em;
    --gray: #ccc;
    --dark-gray: #6d6d6d;
    --light-gray: #eee;
    --mat-blue: #2196f3;
    --admin-blue: #4294de;
    --admin-input-blue: #98c9f2;
}

.align-top {
    vertical-align: top;
}