:root {
    --entry-padding: 0.8em;
    --dark-gray: #6d6d6d;
    --mat-blue: #2196f3;
}

* {
    box-sizing: border-box;
}

.appbar {
    position: initial;
    width: 100%;
    justify-content: space-between;
}

.button-wrapper {
    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    font-size: 1rem;
}

.app-name {
    margin: 0;
}
/* All perpuse classes */

.bold {
    font-weight: bold;
}

/* Used in a single place or list */
#audit-log {
    display: block;
}

.entry time {
    display: inline-block;
}

#select-section {
    overflow-y: auto;
    height: calc(100vh - 44px);
    padding: 0;
}

#select-section .day-header {
    border: none;
    border-bottom: 1px solid var(--mat-blue);
    display: block;
    font-size: 16px;
    margin: 0;
    padding: 10px 15px;
    text-align: left;
    width: 100%;
}

#select-section .day-header:hover {
    background-color: var(--dark-gray);
    border-bottom-color: transparent;
    color: white;
}

.day-header span {
    margin-left: 2em;
}

.day-header time {
    font-weight: bold;
}

#select-section .day-body {
    padding: 0;
}

.entry {
    border: none;
    border-bottom: 1px solid var(--mat-blue);
    cursor: pointer;
    display: block;
    font-size: 16px;
    margin: 0 0 0 15px;
    padding: 10px 15px;
    text-align: left;
    width: 100%;
}

.entry:hover {
    background-color: var(--dark-gray);
    color: white;
}

.entry.selected {
    background-color: #2196f3;
    color: white;
}
#preview {
    position: relative;
    min-height: calc(100vh - 44px);
    margin: 0;
    padding: 0 10px;
}

#preview .placeholder {
    font-size: 16px;
    color: #6d6d6d;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.show-wrapper {
    margin: 10px;
    border: 2px solid lightgray;
    min-height: calc(100vh - 44px - 20px);
}
