:root {
    --entry-padding: 0.8em;
    --gray: #ccc;
    --dark-gray: #6d6d6d;
    --mat-blue: #2196f3;
}

* {
    box-sizing: border-box;
}

.appbar {
    position: initial;
    width: 100%;
    justify-content: space-between;
}

.app-name {
    margin: 0;
}

.toolbar {
    display: grid;
    grid-template-columns: auto repeat(4, 1fr);
    column-gap: 10px;
    height: auto;
}

@media screen and (max-width: 720px) {
    .toolbar {
        grid-template-columns: 100%;
    }
}

.toolbar .icon-wrapper {
    display: inline-block;
    padding: 25px 10px;
}

.toolbar .icon-wrapper div {
    display: block;
}

.toolbar label {
    font-weight: bold;
    font-size: 1.5rem;
}

.toolbar input::placeholder {
    color: black;
    font-weight: bold;
}

#select-type-label {
    transform: scale(0.8);
}

/* All perpuse classes */
.bold {
    font-weight: bold;
}

/* Used in a single place or list */
#audit-log {
    display: block;
}

.entry time {
    display: inline-block;
}

#select-section {
    font-size: 1rem;
    padding: 0;
    border-right: 1px solid var(--dark-gray);
}

#select-section .list-header {
    display: grid;
    font-weight: bold;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding: 1rem;
}

#select-section .select-list {
    overflow-y: auto;
    height: calc(100vh - 133px - 3rem);
}

#select-section .select-list li:nth-child(odd) .entry {
    background-color: var(--gray);
}

#select-section .select-list li .entry:hover {
    background-color: var(--dark-gray);
    color: white;
}

#select-section .select-list li .entry:focus {
    background-color: #2196f3;
    color: white;
}

.entry {
    background-color: white;
    border: none;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    text-align: left;
    width: 100%;
}

#preview {
    font-size: 1rem;
    max-height: calc(100vh - 110px - 1em);
    overflow-y: auto;
    padding: 1em;
    position: relative;
}

#preview .placeholder {
    color: #6d6d6d;
    font-size: 2rem;
    margin: 10px;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
}

#preview h1 {
    font-size: 2.8rem;
}
#preview h2 {
    font-size: 2.0rem;
}

.show-wrapper {
    min-height: calc(100vh - 110px - 2em);
}

.show-wrapper .data {
    padding: 5px 2px;
    border: 1px solid black;
    margin-left: 5px;
}

.loading-anim {
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    padding: 10px;
    margin: 0 auto;
}

.loading-anim .dot {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #666;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    animation-duration: 2s;
    animation-direction: normal;
    animation-iteration-count: 10;
    animation-timing-function: ease-in-out;
    animation-name: move;
}

.loading-anim .dot:nth-child(2) {
    animation-delay: 0.1s;
    width: 8px;
    height: 8px;
}
.loading-anim .dot:nth-child(3) {
    animation-delay: 0.2s;
    width: 6px;
    height: 6px;
}
.loading-anim .dot:nth-child(4) {
    animation-delay: 0.3s;
}
.loading-anim .dot:nth-child(5) {
    animation-delay: 0.4s;
}
.loading-anim .dot:nth-child(6) {
    animation-delay: 0.5s;
}

@keyframes move {
    0% {
        left: 50%;
        top: 10%;
    }
    25% {
        left: 90%;
        top: 50%;
    }
    50% {
        left: 50%;
        top: 90%;
    }
    75% {
        left: 10%;
        top: 50%;
    }
    100% {
        left: 50%;
        top: 10%;
    }
}
