@import "select-panel";
@import "selection";
@import "preview-panel";
@import "license";
@import "shared"; // Variables etc
@import "mixin";

#audit-log {
    display: block;

    .audit-icon {
        width: 45px;
    }
}

/* lib-admin-ui addition? */
.appbar .topbar-license {
    height: 100%;
    margin-right: 50px;
    color: white;
    font-size: 15px;
    line-height: 44px;
}

.toolbar.tools {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    line-height: normal;
    height: auto;
    min-height: 40px;
    justify-content: flex-start;
    padding: 5px 2.5px 10px 2.5px;

    .xp-admin-common-dropdown {
        .grid {
            min-width: 150px;
        }
    }

    .wrapper {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 150px;
        min-width: 75px;
        margin: 2px 1%;

        &:nth-of-type(2),
        &:nth-of-type(3) {
            flex-basis: 150px;
            flex-grow: 0;
        }

        label {
            display: block;
            margin: 4px 0;
        }

        .form-input .selected-option {
            min-height: 37px;

            .option-value * {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }

    #free-text {
        @include input-glow(var(--admin-input-blue));
        min-height: 37px;
        padding: 4px 10px;
        width: 100%;
    }

    #select-type {
        .dropdown-grid .viewer {
            padding-left: 20px;

            &.empty-option,
            &.non-selectable {
                padding-left: 0;
            }

            &.non-selectable {
                pointer-events: none;
                font-weight: bold;
            }
        }
    }

    .filter-button {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        justify-content: space-around;

        .filter-label {
            flex-grow: 1;
            height: auto;
            padding: 5px;

            &::first-letter {
                text-transform: uppercase;
            }
        }
    }
}

.date-time-picker .xp-admin-common-wrapper .date-time-dialog {
    min-width: 220px;

    .clear-button {
        position: static;
        border: 1px solid black;
        padding: 4px 19px;
        margin: 1rem 0px 0px 0px;

        span {
            color: black;
        }
    }
}

.xp-admin-common-modal-dialog {
    .wrapper {
        margin-top: 20px;
        width: 100%;
    }
    // Modal filters
    #free-text,
    #select-to,
    #select-from,
    #select-user,
    #select-type,
    #select-project {
        box-shadow: none;
        display: block;
        padding: 0;
        position: relative;
        width: 100%;
        max-width: 100%;
        margin: 0 2.5px;
    }

    #free-text {
        height: 36px;
        width: 100%;
        padding: 4px 10px;
    }
}

.align-top {
    vertical-align: top;
}
