@import "select-panel";
@import "selection";
@import "preview-panel";
@import "license";
@import "shared"; // Variables etc
@import "mixin";

#audit-log {
    display: block;

    .audit-icon {
        width: 45px;
    }
}

/* lib-admin-ui addition? */
.appbar .topbar-license {
    height: 100%;
    margin-right: 50px;
    color: white;
    font-size: 15px;
    line-height: 44px;
}

.date-picker .xp-admin-common-wrapper .date-picker-dialog {
    .clear-button {
        position: static;
        border: 1px solid black;
        padding: 4px 19px;
        margin: 1rem 0px 0px 0px;

        span {
            color: black;
        }
    }

    .ok-button {
        position: static;
        margin: 1rem 0px 0px 0px;
        padding: 4px 19px;
        float: right;
    }
}

.tools {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 80px;

    #select-from,
    #select-to {
        flex: 0 0 auto;
        width: 240px;
    }

    .wrapper {
        margin-left: 15px;
    }

    .xp-admin-common-dropdown {
        display: block;
        width: 240px;
    }

    .xp-admin-common-text-input {
        @include input-glow(var(--admin-input-blue));
        width: 240px;
        height: 36px;
    }
}

.align-top {
    vertical-align: top;
}

.select-toolbar {
    margin-left: 1.5rem;
}
