@import "select-panel";
@import "preview-panel";
@import "license";
@import "material_override";
@import "shared"; // Variables etc

#audit-log {
    display: block;

    .audit-icon {
        width: 45px;
    }
}

/* lib-admin-ui addition? */
.appbar .topbar-license {
    height: 100%;
    margin-right: 50px;
    color: white;
    font-size: 15px;
    line-height: 44px;
}

.tools {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    #select-from {
        flex: 0 0 auto;
        margin: 0 5px;
    }
}

#top-toolbar {
    display: grid;
    grid-template-columns: 100px 100px 250px 275px 5fr auto;
    column-gap: 2rem;
    padding: 1rem;
    height: auto;
    margin-bottom: 0;

    .icon-wrapper {
        cursor: pointer;
        display: inline-block;
        padding: 25px 10px;
        user-select: none;

        div {
            display: block;
        }
    }

    .input-field {
        margin: 0;

        input {
            border-bottom: 1px solid var(--mat-blue);
            display: inline-block;
            width: 100%;
            height: 3rem;

            &:focus {
                border-bottom: 1px solid var(--mat-blue);
                box-shadow: none;
            }

            &::placeholder {
                color: black;
            }
        }

        select {
            border-bottom: 1px solid var(--mat-blue);
        }

        label {
            //position: static;
            font-size: 1rem;
        }
    }

    @media screen and (max-width: 720px) {
        grid-template-columns: 100%;
    }
}

.align-top {
    vertical-align: top;
}

/* Loading animation */
.loading-anim {
    position: relative;
    width: 50px;
    height: 50px;
    padding: 10px;
    top: 2px;
    margin: 0 auto;

    .dot {
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #666;
        border-radius: 100%;
        width: 10px;
        height: 10px;
        animation-duration: 2s;
        animation-direction: normal;
        animation-iteration-count: 10;
        animation-timing-function: ease-in-out;
        animation-name: move;
    }

    .dot:nth-child(2) {
        animation-delay: 0.1s;
        width: 8px;
        height: 8px;
    }

    .dot:nth-child(3) {
        animation-delay: 0.2s;
        width: 6px;
        height: 6px;
    }

    .dot:nth-child(4) {
        animation-delay: 0.3s;
    }

    .dot:nth-child(5) {
        animation-delay: 0.4s;
    }

    .dot:nth-child(6) {
        animation-delay: 0.5s;
    }
}

@keyframes move {
    0% {
        left: 50%;
        top: 10%;
    }
    25% {
        left: 90%;
        top: 50%;
    }
    50% {
        left: 50%;
        top: 90%;
    }
    75% {
        left: 10%;
        top: 50%;
    }
    100% {
        left: 50%;
        top: 10%;
    }
}

#content-tabs {
    width: 100%;
}
