:root {
    --entry-padding : 0.8em;
    --border-color: rgb(213, 221, 236)
}

#audit-log {
    display: block;
}

#audit-log .entry {
    border: 2px solid var(--border-color);
    border-radius: 2px;
    margin: 7px;
}

#audit-log .entry .data .text {
    display: inline-block;
}

#audit-log .entry .data strong {
    font-weight: bold;
    padding: 0 0.5rem;
}

#audit-log .entry .data > * {
    padding: var(--entry-padding);
}

#audit-log .entry .data summary {
    cursor: pointer;
}

#audit-log .entry .data summary:hover {
    background-color: #215d96;
    color: white;
}

#audit-log .entry .data ul {
    border-top: 2px solid var(--border-color);
    padding-left: 2rem;
    margin: 0;
}